@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
  --blue:#0066cc;
  --black:#444;
  --lightcolor:#777;
  --box-shadow:.5rem .5rem 0 rgba(0, 0, 102);
  --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
  --border:.2rem solid var(--blue);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}

section:nth-child(even){
    background: #f5f5f5;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: var(--black);
    font-size:5rem;
    letter-spacing: .4rem;
}

.heading span{
    text-transform: uppercase;
    color: var(--green);
}

.btn {
    
}
